<div class="container">

  <div class="home-banner">

    <img src="../../../assets/images/home-banner.jpg" alt="home-banner">
  </div>

  <div class="booklist-container">

    <div class="booklist">
      <div class="main-card">



        <div class="mainImage">

          <img src="../../../assets/images/photo-book.png" alt="photo-book">
        </div>
        <div class="details">
          <div class="content">
            <div class="carosal">

              <div class="card">
                <p-carousel [value]="images" [numVisible]="2" [numScroll]="2" [circular]="false" [autoplayInterval]="0"
                  [responsiveOptions]="responsiveOptions">
                  <ng-template let-image pTemplate="item">
                    <div class="item card">
                      <img src="{{image.picture}}" class="card-img-top carosal-img" alt="...">

                    </div>
                  </ng-template>
                </p-carousel>
              </div>
            </div>


            <div class="details-container">

              <h1 class="cover-heading">
                Hard Cover Edition
              </h1>
              <h2 class="title">
                The Little Prince
              </h2>
              <h3 class="Antoine">
                Antoine de Saint-Exupéry
              </h3>
              <p class="description">
                Size of 8.5x11 inches (21.6 x 27.9cm)
              </p>
            </div>
          </div>

          <div class="lower-section">
            <p class="price">
              € 39.00
            </p>
            <button class="btn">
              discover
            </button>
          </div>
        </div>
      </div>
      <div class="main-card">



        <div class="mainImage">

          <img src="../../../assets/images/photo-book.png" alt="photo-book">
        </div>
        <div class="details">
          <div class="content">
            <div class="carosal">

              <div class="card">
                <p-carousel [value]="images" [numVisible]="2" [numScroll]="2" [circular]="false" [autoplayInterval]="0"
                  [responsiveOptions]="responsiveOptions">
                  <ng-template let-image pTemplate="item">
                    <div class="item card">
                      <img src="{{image.picture}}" class="card-img-top carosal-img" alt="...">

                    </div>
                  </ng-template>
                </p-carousel>
              </div>
            </div>


            <div class="details-container">

              <h1 class="cover-heading">
                Hard Cover Edition with Audio
              </h1>
              <h2 class="title">
                The Little Prince
              </h2>
              <h3 class="Antoine">
                Antoine de Saint-Exupéry
              </h3>
              <p class="description">
                Actors bring to life the Rose, the Fox,
                the Snake and other characters
              </p>
              <p class="description">
                Size of 8.5x11 inches (21.6 x 27.9cm)
              </p>
            </div>
          </div>

          <div class="lower-section">
            <p class="price">
              € 39.00
            </p>
            <button class="btn">
              discover
            </button>
          </div>
        </div>
      </div>
      <div class="main-card">



        <div class="mainImage">

          <img src="../../../assets/images/photo-book.png" alt="photo-book">
        </div>
        <div class="details">
          <div class="content">
            <div class="carosal">

              <div class="card">
                <p-carousel [value]="images" [numVisible]="2" [numScroll]="2" [circular]="false" [autoplayInterval]="0"
                  [responsiveOptions]="responsiveOptions">
                  <ng-template let-image pTemplate="item">
                    <div class="item card">
                      <img src="{{image.picture}}" class="card-img-top carosal-img" alt="...">

                    </div>
                  </ng-template>
                </p-carousel>
              </div>
            </div>


            <div class="details-container">

              <h1 class="cover-heading">
                Deluxe Coffee Table & Gift Edition
              </h1>
              <h2 class="title">
                The Little Prince
              </h2>
              <h3 class="Antoine">
                Antoine de Saint-Exupéry
              </h3>
              <p class="description">

                Actors bring to life the Rose, the Fox,
                the Snake and other characters
              </p>

              <p class="description">
                Size of 8.5x11 inches (21.6 x 27.9cm)
              </p>
            </div>
          </div>

          <div class="lower-section">
            <p class="price">
              € 39.00
            </p>
            <button class="btn">
              discover
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
