.container {
    position: relative;
    z-index: 1;
    .home-banner{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
}
.booklist-container{
    width: 100%;
    display:flex;
    justify-content:center;
    
    .booklist{
        flex-wrap: wrap;
        max-width:1530px;
       display: flex;
       width: 100%;
       position: relative;
       justify-content: space-evenly;
       margin-top: 345px;
       z-index: 3;
        .card{
            height: 1020px;
            width: 490px;
            background-color:#FFFDF8;
            display: flex;
            justify-content: center;
        }
    }
}

}