/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --family-primary: "Open Sans", sans-serif;
  --family-secondary: "Cormorant Garamond", serif;
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;
  --black: #000;
  --white: #fff;
  --text-default: #62583a;
  --text-light: #878787;
  --body-bg: #fffdf8;
  --bg-secondary: #f9f6ef;
  --app-theme-primary: #62583a;
  --app-theme-secondary: #1ca39a;
  --border-default: #f9f6ef;
  --border-secondary: #efece3;
}

.p-carousel-prev,
.p-carousel-next {
  background-color: transparent;
  border-color: transparent;
  font-size: 1.5rem;
  color: #bcbcbc;
}
.p-carousel-prev:hover,
.p-carousel-next:hover {
  color: black;
}
.p-carousel-next {
  background-image: url("./assets/images/next.svg");
  background-repeat: no-repeat;
  background-size: 22.25px 12px;
  padding: 25px 25px;
}

.p-carousel-prev {
  background-image: url("./assets/images/prev.svg");
  background-repeat: no-repeat;
  background-size: 22.25px 12px;
  padding: 25px 25px;
}

// display none
.p-carousel-indicator {
  display: none;
}

body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}
